# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# IDE / editor
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store
