# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Database
*.sqlite
*.db

# Virtual environment
venv/
env/
ENV/

# Distribution / packaging / Installer
dist/
build/
*.egg-info/
.eggs/
*.spec
run_tarri.py
tarri_sessi.json

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Pytest & MyPy cache
.pytest_cache/
.mypy_cache/

# IDE / editor / OS
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace
.DS_Store